doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../set/bootstrap/css')
  link(rel='stylesheet' href='../css/actualtab.css')
  title Document
.container.tab-let
  .row
    .tab
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') RCT 001
        li.nav-item
          a.nav-link(href='#') Home
        li.nav-item
          a.nav-link(href='#')
        li.nav-item
          a.nav-link.disabled Disabled
    .content
      h2 Customer name: Alex
      table
        tr
          td Service
          td Car Number
          td Price
        tr
          th Night Park
          th UBV456F
          th 5000
        tr
          th Total
          th      
          th 5000
