doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../set/bootstrap/css')
  link(rel='stylesheet' href='../css/report.css')
  title Document
.container-fluid.table
  h1 DV REPORT
  table
    tr
      th No.
      th DATE
      th RPT No.
      th NAME
      th Car Number
      th PHONE
      th TIME
      th GENDER
      th NIN No.
    tr
      td 1.
      td 30/June/2023
      td 001
      td Alex
      td UBV354
      td +256781056005
      td 12:06pm
      td MALE
      td CM09H0995000FQH
    tr
      td
      td
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
      td
      td
script(src='set/bootstrap/js')
