doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='set/bootstrap/css')
  title Document
.row
  .col-sm-9.mb-3.mb-sm-0
    .card
      .card-body(style='height: 500px')
        .dv1
          #parking-title #DV PARKING
          p &quot;Your better parking choice&quot;
  .col-sm-3(style='height: 500px')
    .card
      .card-body
        img.card-img-top(src='all images/truck.jpeg' alt='...')
        h5.card-title Car parking
      .card-body
        img.card-img-top(src='all images/truck.jpeg' alt='...')
        h5.card-title Car parking
      .card-body
        img.card-img-top(src='all images/truck.jpeg' alt='...')
        h5.card-title Car parking
script(src='./tab.js')
